<div class="row" style="text-align:center">
    <h4 class=" col-lg-12" ><b><u>Edit User</u></b></h4>
</div>
<hr>
<div class="row"> 
   
<div class="col-lg-12">

    <form role="form" >
        <div class="row">
        <div class="col-lg-6">
            <label><b>Enter First Name</b></label>
            <span style="color:red">*</span>
            <input type=text class="form-control">
        </div>
        <div class="col-lg-6">
                <label><b>Enter Last Name</b></label>
                <input type=text class="form-control">
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-6">
                <label><b>Mobile Number</b></label>
                <input type=text class="form-control">
            </div>
            <div class="col-lg-6">
                    <label><b>Email Id</b></label>
                    <input type=text class="form-control">
                </div>
            </div> 
        <br>
            <div class="row">
                <div class="col-lg-12">
                        <label><b>Select Role</b></label>
                </div>

            </div>
        <div class="form-group row">
           
            <div class="checkbox col-lg-4">
                <label>
                    <input type="checkbox" value=""> Admin
                </label>
            </div>
            <div class="checkbox col-lg-4">
                <label>
                    <input type="checkbox" value=""> MIS
                </label>
            </div>
            <div class="checkbox col-lg-4">
                <label>
                    <input type="checkbox" value=""> FieldWorker
                </label>
            </div>
        </div>

        <!-- <div class="form-group">
            <label>Inline Checkboxes</label>
            <label class="checkbox-inline">
                <input type="checkbox">1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox">2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox">3
            </label>
        </div>

        <fieldset class="form-group">
            <label>Radio Buttons</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Radio 1
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Radio 2
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Radio 3
                </label>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label>Inline Radio Buttons</label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">1
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
            </label>
        </fieldset>

        <div class="form-group">
            <label>Selects</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <fieldset class="form-group">
            <label>Multiple Selects</label>
            <select multiple="" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </fieldset> -->

        <button type="submit"  class="btn btn-primary btn-lg">Save »</button>
        <!-- <button type="reset" class="btn btn-secondary">Reset Button</button> -->

    </form>

</div>
</div>