<div class="row" style="text-align:center">
  <h4 class=" col-lg-12" ><b>Create Role</b></h4>
</div>
<hr>
<div class="row"> 
 
<div class="col-lg-12">

  <form role="form" >
      <div class="row">
      <div class="col-lg-6">
          <label><b><u>Enter Role Name</u></b></label>
          <span style="color:red">*</span>
          <input type=text class="form-control">
      </div>
      </div> 
      <br>
          <div class="row">
              <div class="col-lg-12">
                      <label><b><u>Select Functionality</u></b></label>
              </div>

          </div>
          
      <div class="form-group row">
         
          <div class="checkbox col-lg-4">
              <label>
                  <input type="checkbox" value=""> Functionality 1
              </label>
          </div>
          <div class="checkbox col-lg-4">
              <label>
                  <input type="checkbox" value=""> Functionality 2
              </label>
          </div>
          <div class="checkbox col-lg-4">
              <label>
                  <input type="checkbox" value=""> Functionality 3
              </label>
          </div>
      </div>

      <!-- <div class="form-group">
          <label>Inline Checkboxes</label>
          <label class="checkbox-inline">
              <input type="checkbox">1
          </label>
          <label class="checkbox-inline">
              <input type="checkbox">2
          </label>
          <label class="checkbox-inline">
              <input type="checkbox">3
          </label>
      </div>

      <fieldset class="form-group">
          <label>Radio Buttons</label>
          <div class="radio">
              <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Radio 1
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Radio 2
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Radio 3
              </label>
          </div>
      </fieldset>

      <fieldset class="form-group">
          <label>Inline Radio Buttons</label>
          <label class="radio-inline">
              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">1
          </label>
          <label class="radio-inline">
              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
          </label>
          <label class="radio-inline">
              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
          </label>
      </fieldset>

      <div class="form-group">
          <label>Selects</label>
          <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
      </div>

      <fieldset class="form-group">
          <label>Multiple Selects</label>
          <select multiple="" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
      </fieldset> -->

      <button type="submit"  class="btn btn-secondary">Add</button>
      <!-- <button type="reset" class="btn btn-secondary">Reset Button</button> -->

  </form>

</div>
</div>